.menu-item {
  min-width: 30%;
  height: 290px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed black;
  margin: 10px;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    border: 2px solid black;

    & .background-image {
      transform: scale(1.15);
      transition: transform 1.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 1;
    }
  }

  &.large {
    height: 380px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    background-color: white;
    opacity: 0.75;
    position: absolute;
    width: 10%;
    /*add absolute position to center the content*/
    .title {
      font-weight: bold;
      margin: 0 6px 0;
      font-size: 24px;
      color: #4a4a4a;
    }

    .subtitle {
      font-size: 18px;
      color: orangered;
      font-weight: 800;
    }
  }
}
