.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 90%;
    width: 120px;
    padding: 30px;
    margin-left: 80px;
  }

  .options {
    width: 50%;
    height: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    .option {
      padding: 10px 15px;
      font-size: 28px;
      margin: 15px;
      border-bottom: 2px solid black;
      cursor: pointer;
    }

    .option:hover {
      border-bottom: 3px solid orange;
    }
  }
}
